body {
  background-color: transparent;
}

html {
  min-height: 100%;
  background-repeat: no-repeat;
  background: linear-gradient(45deg, #d8bfd88e, #dcc5dc, #fef9f5, #faf0e6);
  background-size: 222%;
  animation: gradient 8s linear infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
