* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body {
  background-color: transparent;
}

.container {
  max-width: 800px;
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link,
.nav-link.active,
.nav-item.show .nav-link {
  background-color: transparent!important;
  border-color: #141414!important;
  margin-right: .25rem;
}

.nav-tabs {
  border-bottom: 1px solid #141414;
}

.material-icons {
  display: inline-flex;
  vertical-align: text-bottom;
  font-size: 24px;
}

.material-icons.thistle {
  color: thistle;
}

.badge-light {
  background-color: lavenderblush;
  border: 2px solid thistle;
  margin: 4px;
}

a {
  color: #141414;
}
a:hover {
  color: plum;
}

hr {
  background-color: #141414;
}

.jumbotron {
  background-color: rgba(216, 191, 216, 0.5558653846153846) !important;
}

.d-flex {
  flex-wrap: wrap;
}

/* Btn Styles Blob */
.btn-primary {
  color: white;
  background-color: thistle;
  border-color: thistle;
}
.btn-primary:hover {
  color: white;
  background-color: plum;
  border-color: plum;
}
.btn-primary:focus,
.btn-primary.focus {
  color: white;
  background-color: plum;
  border-color: plum;
  box-shadow: 0 0 0 0.2rem rgba(189, 168, 190, 0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: white;
  background-color: thistle;
  border-color: thistle;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: white;
  background-color: plum;
  border-color: plum;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(189, 168, 190, 0.5);
}

.btn-secondary {
  color: white;
  background-color: pink;
  border-color: pink;
}
.btn-secondary:hover {
  color: white;
  background-color: palevioletred;
  border-color: palevioletred;
}
.btn-secondary:focus,
.btn-secondary.focus {
  color: white;
  background-color: palevioletred;
  border-color: palevioletred;
  box-shadow: 0 0 0 0.2rem rgba(189, 168, 190, 0.5);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: white;
  background-color: pink;
  border-color: pink;
}
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: white;
  background-color: palevioletred;
  border-color: palevioletred;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(189, 168, 190, 0.5);
}

.btn-light {
  color: white;
  background-color: moccasin;
  border-color: moccasin;
}
.btn-light:hover {
  color: white;
  background-color: peachpuff;
  border-color: peachpuff;
}
.btn-light:focus,
.btn-light.focus {
  color: white;
  background-color: peachpuff;
  border-color: peachpuff;
  box-shadow: 0 0 0 0.2rem rgba(189, 168, 190, 0.5);
}
.btn-light.disabled,
.btn-light:disabled {
  color: white;
  background-color: moccasin;
  border-color: moccasin;
}
.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: white;
  background-color: peachpuff;
  border-color: peachpuff;
}
.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(189, 168, 190, 0.5);
}

.btn-dark {
  color: white;
  background-color: #f1c3b1;
  border-color: #f1c3b1;
}
.btn-dark:hover {
  color: white;
  background-color: darksalmon;
  border-color: darksalmon;
}
.btn-dark:focus,
.btn-dark.focus {
  color: white;
  background-color: darksalmon;
  border-color: darksalmon;
  box-shadow: 0 0 0 0.2rem rgba(189, 168, 190, 0.5);
}
.btn-dark.disabled,
.btn-dark:disabled {
  color: white;
  background-color: #f1c3b1;
  border-color: #f1c3b1;
}
.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: white;
  background-color: darksalmon;
  border-color: darksalmon;
}
.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(189, 168, 190, 0.5);
}
