* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body {
  background-color: transparent;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid thistle;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 2px solid thistle;
}

.container {
  max-width: 800px;
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link,
.nav-link.active,
.nav-item.show .nav-link {
  background-color: transparent !important;
  border-color: #141414 !important;
  margin-right: 0.25rem;
}

.nav-tabs {
  border-bottom: 1px solid #141414;
}

.material-icons {
  display: inline-flex;
  vertical-align: text-bottom;
  font-size: 24px;
}

.material-icons.thistle {
  color: thistle;
}

.badge-light {
  background-color: lavenderblush;
  border: 2px solid thistle;
  margin: 4px;
}

a {
  color: #141414;
}
a:hover {
  color: plum;
}

hr {
  background-color: #141414;
}

.d-flex {
  flex-wrap: wrap;
}

/* Btn Styles Blob */
.btn-primary {
  color: #141414;
  background-color: transparent;
  border-color: #141414;
}
.btn-primary:hover {
  color: plum;
  background-color: transparent;
  border-color: #141414;
}
.btn-primary:focus,
.btn-primary.focus {
  color: plum;
  background-color: transparent;
  border-color: #141414;
  box-shadow: 0 0 0 0.2rem rgb(230, 176, 230);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #141414;
  background-color: transparent;
  border-color: #141414;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #141414;
  background-color: transparent;
  border-color: #141414;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(230, 176, 230);
}

@media (max-width: 640px) {
  #self {
    width: 100%;
    float: none!important;
    margin: auto!important;
  }
  .journal {
    width: 100%;
    margin: auto!important;
  }
  #bio {
    text-align: center;
    margin: 1rem;
  }
}

@media (max-width: 420px) {
  h2 {
    font-size: 24px;
  }
  .nav-link,
  .nav-link.active,
  .nav-item.show .nav-link {
    margin-right: 2px;
  }
}
